@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
header {
  background-color: #002f5f;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links a {
  color: #fff;
  margin-left: 40px;
  text-decoration: none;
  font-size: 1.15em;
  font-family: "Karla", sans-serif;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.login-btn {
  padding: 7px 18px;
  border: 1px solid #fff;
  transition-duration: 0.5s;
}

.login-btn:hover {
  background-color: #fff;
  color: #002f5f;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
