.course-details-wrapper {
  padding: 10px 80px !important;
  background-color: #ccc !important;
}

.course-details-content {
  background-color: #fff !important;
  padding: 20px !important;
}

.course-title-wrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
}

.course-title-wrapper img {
  width: 300px !important;
}

.course-title-left h1 {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 1.5em !important;
  margin-right: 10px !important;
  color: #494949 !important;
}

.course-title-left p {
  font-size: 1em !important;
  line-height: 23px !important;
  margin-right: 30px !important;
  margin-bottom: 20px !important;
}

.btn-enroll {
  margin-top: 10px !important;
  padding: 10px 80px !important;
  text-align: center !important;
  background-color: #002f5f !important;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 1.2em !important;
  border: 1px solid #002f5f !important;
  cursor: pointer !important;
}

.btn-enroll:hover {
  background-color: rgb(255, 255, 255) !important;
  color: #002f5f !important;
  font-weight: 700 !important;
}

.course-details-body {
  padding: 20px 40px !important;
}

.course-details-body-left h2 {
  color: #002f5f !important;
  font-family: "Josefin Sans", sans-serif !important;
}
.course-details-body-left h3 {
  color: #002f5f !important;
  font-family: "Josefin Sans", sans-serif !important;
}

.course-content-item {
  background-color: #e9e9e9 !important;
  padding: 5px 20px !important;
  margin-top: 5px !important;
  border-radius: 10px !important;
  width: 700px !important;
}

.course-content-item h3 {
  color: #002f5f !important;
  margin-bottom: 0px !important;
}

.course-content-item ol {
  margin-top: 3px !important;
}

.course-content-item ol li {
  margin-bottom: 5px !important;
}
